.menu {
  padding: 0;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 100px;
}
.menu__title {
  text-align: center;
  margin: 0 0 24px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  text-align: center;
  margin: auto;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
}
.menu__cards {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 100px;
  margin: 100px;
}
